[2015-10-21 17:10] maxkfranz opened #1 "Automatic registration broken on window"

[2015-10-21 17:10] #1 closed

[2015-11-02 21:20] melborp opened #2 "undefined - cytoscape.util.requestAnimationFrame with v2.5.0 cytoscape and navigator"
Using cytoscape 2.5 and darge layout. It throws null / undefined on the cytoscape.util.requestAnimationFrame. in this case the util seems to be undefined. Something changed / broke in 2.5? I've tried to find release notes for 2.5 with breaking changes, didnt find it.

From Chrome:
Uncaught TypeError: Cannot read property 'requestAnimationFrame' of undefined
Navigator._updateThumbnailImage @ cytosc

[2015-11-03 17:10] melborp commented on #2
Moving
[code]

from cytoscape 2.5 to the navigator code and then calling it doesnt seem to be enough to make navigator work.

[2015-11-03 17:13] #2 closed

[2015-11-03 17:13] melborp commented on #2
wrong location

[2015-11-20 01:55] benjaminaaron opened #3 "weird placement of leaves"
Do you have an idea why this leaf is placed so far off one would expect it to?

![screen_shot_2015-11-20_at_02_49_09](https://cloud.githubusercontent.com/assets/5141792/11289904/9b0bd112-8f31-11e5-9376-3ec8613845c8.png)

The settings are:
[code]

[2015-11-29 16:08] rimmartin opened #4 "DAG direction on page"
Hi,
Is there a mechanism/attribute to make the DAG tree go horizontally?

[2015-12-07 13:06] danielpes opened #5 "Dagre control points for drawing more accurate edges"
It would be nice if thie cytoscape-dagre layout could make the edges "[points](https://github.com/cpettitt/dagre/wiki#output-graph)" attribute available for the cytoscape graphs, giving the possibility to draw more accurate edges with segments or unbundled-bezier styles.

[2015-12-13 10:00] melborp opened #6 "Upgrade Cytoscape to 2.5.2"
3 versions have been released since 2.4.9

[2015-12-13 10:01] #6 closed

[2015-12-13 10:02] melborp commented on #6
Please delete this. My bad. Wrong location.

[2016-01-04 21:35] bgrayburn opened #8 "how to use in meteor?"
is this meant to be used with the npm package for meteor?

[2016-01-20 16:35] maxkfranz commented on #8
npm

[2016-01-20 16:35] #8 closed

[2016-01-20 16:36] maxkfranz commented on #4
See `rankDir` in the docs

[2016-01-20 16:36] #4 closed

[2016-01-20 16:37] maxkfranz commented on #3
The Dagre library itself is responsible for setting positions...

Any feedback for the Dagre algorithm should go to its develoeprs: https://github.com/cpettitt/dagre

[2016-01-20 16:39] maxkfranz opened #9 "Setting edge weight doesn't seem to alter the appearance of the edges? #1223"
Ref : https://github.com/cytoscape/cytoscape.js/issues/1223

[2016-01-20 17:02] maxkfranz commented on #9
@andrewlouis93 I've confirmed everything working on our end.  We set all the Dagre values, including weight and Dagre picks up the weight value.  There must be a bug in Dagre.  Please file a bug with https://github.com/cpettitt/dagre or make a pull request on their repo with a fix

[2016-03-31 03:53] cstancu opened #10 "Bounding box issue"
Trying to draw the following graph:
[code]

,with the following layout:
[code]
results in only the top compound node being draw, with no child elements:
![top](https://cloud.githubusercontent.com/assets/1731630/14164814/d7f8404a-f6b7-11e5-8549-e39e8405e915.jpg)

(Note: The effect of having the label of the compound element inside the node was achieved by simply setting `padding-top: "50px"` for co

[2016-04-16 04:06] djangosdk commented on #5
I was having same thought ...
From example http://cpettitt.github.io/project/dagre-d3/latest/demo/tcp-state-diagram.html ,
Is it possible to have edges like above example in cytoscape ?
Edges that go straight and bend as per location ..

[2016-04-16 05:58] djangosdk commented on #5
see cytoscape.js vs dagre-d3.js for same set of data.

- cytoscape : https://jsfiddle.net/bababalcksheep/m40m5mmx/6/
- dagre-d3: http://cpettitt.github.io/project/dagre-d3/latest/demo/tcp-state-diagram.html

How can I behave cytoscape edges same like dagre ?
Any help will be much appreciated

[2016-04-18 15:15] maxkfranz commented on #5
Not easy to do until 2.7 is released with style properties for configuring where the `segment-weights` start and end: https://github.com/cytoscape/cytoscape.js/issues/1236

[2016-05-05 14:47] #9 closed

[2016-05-05 14:47] #3 closed

[2016-05-16 17:07] maxkfranz commented on #10
@cstancu This doesn't seem to be an issue using the latest version of Cytoscape and the extension.

I suspect the issue is only to do with your use of the padding -- which relies on a bug -- for label placement.

[2016-06-09 10:46] djangosdk commented on #5
@maxkfranz 2.7 is released. Waiting for this feature. Thankx

[2016-06-13 14:30] #10 closed

[2016-06-13 14:38] maxkfranz commented on #5
@djangosdk There are a lot of other tasks for Cytoscape.js that have to take priority.  If this feature is important to you, we'll gladly accept a pull request.  It should be straightforward to implement in 2.7.  The [segments property values](http://js.cytoscape.org/#style/segments-edges) should go in user specified `node.data()` fields so the user can map to them in their stylesheet.

[2016-07-17 19:57] tylerecouture opened #12 "How to use nodeSep option"
Thank you for this plugin!

Can you provide an example how to use the nodeSep option?  Also, is there a way to reduce the vertical distance between nodes in a TB flow?

[2016-07-18 13:09] maxkfranz commented on #12
Use a number.  It's just passed to Dagre, so see its docs : https://github.com/cpettitt/dagre

[2016-07-18 13:09] #12 closed

[2016-07-29 03:04] tylerecouture opened #13 "Left aligning node edges"
Is there a way to Left or Right align node edges? By default they are center aligned (up and down).  Thanks!

EDIT: I should add, I am using 'text-valign': 'center', so the nodes contain the labels:                       'width': 'label',
'height': 'label',

[2016-08-02 23:31] tylerecouture opened #14 "Rank confusion when using parent/compound nodes"
I'm running into odd behavior when the target of an edge is a parent/compound node
http://jsbin.com/ruguca/1/edit?html,output

I took the example and made n16 the parent of n5, and then made the edge go to the parent/compound node.

The result is that the compound node ends us in the same rank as the source, which seems like odd behaviour?

[2016-08-03 14:57] maxkfranz commented on #14
If you decide to use compound graphs, you limit the layouts you can use.  Compound layouts need different logic than regular layouts.  Unless a layout explicitly mentions compound support, then it won't make special allowances for compound parents.

Use a different layout, don't use compound nodes (especially if they are being used without proper semantic need), or run the layout only on child nod

[2016-08-03 14:57] #14 closed

[2016-08-03 14:58] maxkfranz commented on #14
Secondly, as mentioned in the readme, Dagre is a layout from an external lib.  Dagre's docs mention no support for compounds, so there's no way this layout can add support.

[2016-08-03 19:35] tylerecouture commented on #14
Thank you, makes sense.  I appreciate you taking the time to reply and I am very thankful that you have provided this bridge to the dagre library.

I did figure out how to fake it, by creating direct node to node edges and hiding them. For future reference in case anyone else wants to use compound nodes with dagre, here's an example
http://jsbin.com/cipoqes/edit?html,output

[2016-08-03 22:28] maxkfranz commented on #14
If that works for you, that's great.  Unfortunately, a lot of other libs don't have support for compound nodes --- and workarounds like yours work only if you can accommodate the dummy nodes.

Also consider [Cola](https://github.com/cytoscape/cytoscape.js-cola) with a specified `flow` -- which creates tree shapes.  It has support for compound nodes, and it will work with cases where a parent spans

[2016-10-02 20:49] Mafti opened #15 "nodes and edges overlap, how to overcome this?"
Hi,

I am curious what I have to do to prevent edges to overlap the nodes.
see https://jsfiddle.net/hnjwrL9z/2/

[2016-10-03 14:42] maxkfranz commented on #15
(1) Dagre.js has no concept of compounds.

(2) Increase separation using the options.  Or look into implementing #5 if bent edges suit your usecase.  We always appreciate pull requests!

[2016-10-03 14:42] #15 closed

[2016-10-03 14:44] maxkfranz commented on #13
From the docs:

[code]

[2016-10-03 14:44] #13 closed

[2016-10-08 21:57] Mafti opened #16 "large set doesn't produce a TB look"
Hi,

attached is my test-file of using dagre and cytoscape.
for some reason, this graph is look rather strange.
I expect more visible hierachy, but instead it's just 1 row graph.
even though I have set it to TB.

what am I doing wrong?
(please not that level is my custom attribute, is it by any chance a reserved word? )

[testdagre.zip](https://github.com/cytoscape/cytoscape.js-dagre/files/517966/

[2016-11-09 21:05] maxkfranz commented on #16
You're using compound nodes.  The Dagre library has no concept of compounds.  Refer to the Dagre docs: https://github.com/cpettitt/dagre/wiki

[2016-11-09 21:05] #16 closed

[2016-11-22 11:17] SOSDAN opened #18 "I set the weight of nodes, but it does't alter the appearance."
environment: chrome browser
code:
`<script type="text/javascript">
			var cy = cytoscape({
				container: document.getElementById("cy"),
				autolock: true,
				userPanningEnabled: true
			});
			cy.add([{
				group: "nodes",
				data: {weight: 10, id: "13177345979"},
				position: {x: 200, y: 200}
			}, {group: "nodes", data: {weight: 10, id: "15801094535"}, position: {x: 100, y: 250}}
			, {grou

[2016-11-22 16:15] maxkfranz commented on #18
Edges are weighted, not nodes.  And you have to set the options for the layout as stated in the readme (using `edgeWeight`).

[2016-11-22 16:15] #18 closed

[2016-11-23 02:42] SOSDAN commented on #18
thank you.  how can I set the size of a node?

[2016-12-04 17:07] butchmarshall opened #19 "When nodes use parent option - not performing layout?"
Is there a way to make this layout type work with the data "parent" option?

with "parent"
![image](https://cloud.githubusercontent.com/assets/339763/20867776/22623660-ba1a-11e6-8bb7-760d6ed04c1a.png)

without "parent"
![image](https://cloud.githubusercontent.com/assets/339763/20867791/4b2d0386-ba1a-11e6-915a-5c44010c6803.png)

cytoscape-cose-bilkent seems to handle it, but it's no dagre
![image](

[2016-12-05 18:00] maxkfranz commented on #19
See https://github.com/cytoscape/cytoscape.js-dagre/issues/14

[2016-12-07 02:57] butchmarshall commented on #19
Thanks!

[2016-12-07 02:57] #19 closed

[2016-12-07 16:35] maxkfranz commented on #19
@butchmarshall Maybe could this be patched generally in the extension?  It's not really reasonable to create dummy elements on the Cy.js side in the extension, but Dagre has its own model for elements.

If I'm understanding your workaround correctly, it's just replacing compound-compound and compound-leaf edges with every combination of leaf-leaf edges so Dagre has something to go on.

Maybe the e

[2017-02-28 16:51] ssmereka opened #21 "Edge overlap"
Not sure if this issue is related to cytoscape, cytoscape.js-dagre, or the underlying dagre library.  My guess is with dagre, but just incase:

In the following example an edge is being hidden behind another edge.   See the code in this [JSFiddle](https://jsfiddle.net/6ss0a9on/1/).

<img width="250" alt="degree-hidden-edge" src="https://cloud.githubusercontent.com/assets/489291/23554587/c3d455fe-f

[2017-03-03 00:11] maxkfranz opened #22 "Can not apply layout: No such layoutdagrefound; did you include its JS file?"
Ref: https://github.com/cytoscape/cytoscape.js/issues/1738

----

I get this error when I'm trying to use the dagre layout

`Can not apply layout: No such layout `dagre` found; did you include its JS file? `

[code]

If I use the default layouts works fine.

[2017-03-03 00:15] maxkfranz commented on #22
@mj3cheun Would you please look into this when you're doing your Webpack testing?

[2017-03-03 23:05] bernatfortet commented on #22
thanks for switching threads @maxkfranz

[2017-03-08 15:13] mj3cheun commented on #22
Found the issue, the problem is webpack defaults to AMD over CommonJS, which requires all the dependencies (Dagre) to be passed in manually.

This issue is fixed in commit 7d26a2137184719232dd4842c5dcfe8827d84290 and will be published soon.

[2017-04-04 14:58] luli-isa commented on #22
When the commit will be publish ? I have the same error on my react project with webpack.

[2017-04-04 15:42] maxkfranz commented on #22
@mj3cheun is working on that now.  It will be published in the next day or so.  You can use a git url ref in your package.json in the meanwhile to use the latest code from master

[2017-04-04 20:14] mj3cheun commented on #22
Has been published. Use latest version 1.5.0.

[2017-04-13 03:04] djangosdk commented on #5
@maxkfranz
Can you still help with some basic example or point me in right direction. I am in dire need for Dagre control points for Cy.
A description of what to do , where to do will also help ( I did not understand fully how to utilize  segments property values )

[2017-05-05 12:52] fraespre opened #23 "No render edges when use the newer Cytoscape-v3.1.0"
Hi,
Now I have a graph app works fine ( cytoscape-2.7.17 ,  dagre-0.7.4 and cytoscape-dagre-1.5.0 )
Recently I have tried to upgrade Cytoscape to newer version 3.0.0 or 3.1.0. But using this latest versions the graph is wrong. Any error is displayed by the console , however the edges are hidden and all nodes are drawn in the same position.

Could you review it. I think that can be necesary to upda

[2017-05-05 15:32] maxkfranz commented on #23
The layout is working fine on both the main site and the demo in this repo: http://js.cytoscape.org/demos/dagre-layout/

You can't update a lib with a major version number bump without fixing your code for that version: http://blog.js.cytoscape.org/2017/04/11/3.0.0-release/

[2017-05-05 17:49] fraespre commented on #23
yeaaah
I have reviewed my code using the references you said, and I have detected where is my problem. Now I have fixed it and it works fine.

Thank you very much,

[2017-05-05 17:49] #23 closed

[2017-05-05 18:41] maxkfranz commented on #23
Good to hear it's working for you.  Let me know if you run into any other issues with 3.x

[2017-06-13 11:27] calebeaires opened #24 "Organize only new object added to canvas"
I am using this plugin to organize elements on canvas box. I am using it with the code below.

[code]
This will apply dagre on ever object on the cytoscape canvas. I would like use the cytoscape.js-dagre function that apply dagre layout only on specific elements (recently added).

[2017-06-21 15:13] swarajd opened #25 "nodes are undefined"
I am getting this issue when creating a production ready application (minified/uglified/etc):
![image](https://user-images.githubusercontent.com/1250084/27391527-2da292c8-5672-11e7-9296-ac1eedb63ee5.png)
. I found the source of the issue to be this:
![image](https://user-images.githubusercontent.com/1250084/27391545-3531510a-5672-11e7-865a-0c2c5f8eacff.png)
. Some elements are undefined when being

[2017-06-22 01:56] developit commented on #25
@swarajd There's a lot of tech here to sift through, but your screenshots got me wondering:  where are you kicking off Cytoscape in your code?  Curious if it's in componentWillMount or componentDidMount.

[2017-06-22 13:57] maxkfranz commented on #24
http://js.cytoscape.org/#eles.layout

Please ask how-to questions to stack overflow in future

[2017-06-22 13:57] #24 closed

[2017-08-15 15:35] maxkfranz commented on #25
This extension is just a wrapper for the Dagre lib.  If there's a problem in the Dagre lib, it would have to be handled there.

[2017-08-15 15:36] #22 closed

[2017-08-20 12:45] josephrocca opened #26 "No `ranker` option in this extension?"
The dagre library [seems to have](https://github.com/cpettitt/dagre/wiki#configuring-the-layout) a `ranker` option which takes values `longest-path`, `network-simplex` and `tight-tree`. Is there any way to use those different algorithms in this extension? Thanks!

[2017-08-23 15:36] #25 closed

[2017-08-23 15:37] maxkfranz commented on #26
If you'd like to add support for sending that option in the extension via a pull request, I'd be happy to review/merge it.

[2017-08-28 19:41] Prophet32j opened #27 "Use Weaver.js"
Is it possible to use Weaver with the dagre layout? I don't see it as an option in the code, and I would like to be able to offload the work into a thread to not block the main thread.

[2017-08-28 20:06] maxkfranz commented on #27
Not possible. Can't control dagre internals

[2017-08-28 20:07] Prophet32j commented on #27
Is there any way to not block the main thread then? Allow for some sort of progress bar?

[2017-08-28 20:09] maxkfranz commented on #27
Not without real threads

[2017-08-28 20:09] #27 closed

[2017-09-14 22:35] skortchmark9 commented on #26
@maxkfranz you can close this one now!

[2017-09-15 13:07] maxkfranz commented on #26
The PR is in 2.1.0

[2017-09-15 13:07] #26 closed

[2017-09-19 15:41] maxkfranz commented on #21
See https://github.com/cytoscape/cytoscape.js-dagre/issues/5

[2017-09-21 11:08] newlukai commented on #5
I spent some time trying to convert Dagre's control points to Cytoscape's segment edges (distances and weights). Unfortunately, the rendered result is not that beautiful, but maybe it's a start to get this issue done?

[https://github.com/newlukai/cytoscape.js-dagre/commit/3a0a7c41e37cc4e2fd00ba7068746c1627a37935](A first version of implementing this issue).

[2017-12-19 20:55] ypconstante opened #29 "Demo link not working"
The demo link in the readme goes to a not existing page.

[2018-01-03 14:02] janniclas opened #30 "Updating dagre dependency"
Hey Guys,

I have just noticed that the dependency for the dagre library is set on 0.7.4 which has been released over 2 years ago.
 It seems like the project was recently picked up again and it got a few updates over the last couple of months, especially updating their dependencies to newer versions.
Wouldn't it be a good idea to update the dependency to this new version?

Best regards,
Jan-Niclas

[2018-01-09 18:12] maxkfranz commented on #29
You're looking at wip files in the repo.  Look at a tag or use the readme on npm.

The extensions are being updated with new scaffolding, but I haven't had any time to continue work on it for now: https://github.com/cytoscape/cytoscape.js/issues/1926

You can use the demo link for an extension once a new version has been published with the updates.

[2018-01-09 18:12] #29 closed

[2018-01-09 18:14] maxkfranz commented on #30
I'll see if it can be rolled into the scaffolding update (https://github.com/cytoscape/cytoscape.js/issues/1926)

Do you know if they made any breaking changes or only minor patches?

[2018-01-09 18:36] janniclas commented on #30
I am not sure, I can look into it tomorrow.
Today I just updates the dependency in a local copy of mine and everything seemed to work Fine.

[2018-01-09 18:47] maxkfranz commented on #30
0.8.1 should be semver compatible with ^0.7.4, so it should already be upgrading automatically if you `npm update`

[2018-01-10 15:39] janniclas commented on #30
You are right, but if you take a look at the published version of cytoscape-dagre ( https://yarnpkg.com/en/package/cytoscape-dagre ), you will see that the 2.1.0 version contains the dependency ~0.7.4 not ^0.7.4.
I known I can work around this by getting the master branch instead of the version published at npm but I think it would be good to update the published version anyways.

[2018-01-17 17:54] maxkfranz commented on #30
See release cytoscape-dagre@2.2.0

[2018-01-17 17:54] #30 closed

[2018-03-14 14:06] yansenlei opened #31 "How to draw a flow chart?"
How to draw a flow chart? look at this:http://jsfiddle.net/5u9mzfse/47/

[2018-03-15 02:28] knownact commented on #5
@newlukai I have improved your implementation, make it more beautiful. please check it out.

3bef946c348d419366c8b75b0bd3a2ee3ac28e34

[2018-03-15 02:54] knownact commented on #5
and fix when rankDir is "LR":

af46725944e8d294179fe6f5d344679f7d025694

[2018-03-15 03:11] yansenlei commented on #5
@knownact
Is it like this?http://jsfiddle.net/5u9mzfse/47/

[2018-03-15 09:44] yansenlei commented on #31
It may be more appropriate to do the plug-in of the flowchart：
https://github.com/cytoscape/cytoscape.js-klay

[2018-03-16 02:42] knownact commented on #5
Now, the result is like this:
![image](https://user-images.githubusercontent.com/15138165/37500860-ab1328e6-2906-11e8-8418-1b65d81c482e.png)

[2018-03-16 02:52] knownact commented on #5
By the way , I think default result is good.

https://jsfiddle.net/knownact/usL3ayxn/3/

[2018-03-16 03:30] yansenlei commented on #5
@knownact
If it is drawing a flow chart, Klay shows better.
dagre:
![image](https://user-images.githubusercontent.com/23315895/37502287-0a1780c0-290d-11e8-9203-b8946055b3f7.png)

klay:
![image](https://user-images.githubusercontent.com/23315895/37502225-be562aec-290c-11e8-84db-10068ed0058e.png)

[2018-03-16 04:57] knownact commented on #5
@yansenlei yep, but can you give me the test data? i think dagre is not bad like this:

![image](https://user-images.githubusercontent.com/15138165/37504487-9541967a-2919-11e8-861d-de5b4aab85d6.png)

[2018-03-16 06:04] yansenlei commented on #5
sure, like this: https://jsfiddle.net/leiys/e2rc66b8/3/

[2018-03-16 06:17] knownact commented on #5
this is what a get:

![image](https://user-images.githubusercontent.com/15138165/37506411-abb684dc-2924-11e8-9924-31babe101e02.png)

[2018-03-16 06:42] yansenlei commented on #5
yes, this layout is not like a flowchart.

[2018-03-16 06:44] knownact commented on #5
yep, Klay is better!

[2018-03-23 11:54] newlukai commented on #5
Since I was in the need to find a solution, I switched to mxGraph. It's not as light-weight as cytoscape, but the provided layouts do fine and I'm now able to make very specific changes to the graph.

@knownact : Your changes look good.

Regarding the discussion started shortly: Yes, Klay is better.

[2018-04-25 02:29] #31 closed

[2018-08-28 02:38] nanodeath opened #33 "Reversing DAG direction"
I understand how to make the DAG go from top -> bottom, based on #4, but what if I want to go bottom -> top -- so that the arrows are all pointing upwards?

[2018-08-28 03:01] nanodeath commented on #33
Found it -- it's documented on the dagre page itself, [here](https://github.com/dagrejs/dagre/wiki#configuring-the-layout). Setting `rankDir: 'BT'` in the layout did the trick.

The API at the root of *this* repo mentions `rankDir`, but only `TB` and `LR` as available options.

[2018-08-28 03:01] #33 closed

[2018-09-14 09:13] mafar commented on #5
can we get this feature ?

[2018-09-15 09:39] YikaJ opened #34 "dagre need to be update"
There is a mistake which cause by dagre's dependency graphlib@^1.0.5,.

here is the wrong code

in graphlib@^1.0.5

[code]

And In graphlib@^2.1.5, it had already fix it.

[code]

It's dagre's mistake, but I think this lib should update it to avoid the error causes.I have try to update dagre@^v0.8.2 by myself, and it works well by now, maybe your team can do more test on it.

Thanks a lot for your

[2018-09-18 15:54] swarajd opened #36 "The layout becomes too sparse when there are multiple groups (cosmetic issue)"
When there are multiple groups/nodes, the edges become too long. I'm not sure if this is expected behavior or something that can be tweaked in settings.

<img width="978" alt="screen shot 2018-09-18 at 11 46 01 am" src="https://user-images.githubusercontent.com/1250084/45700040-8f822080-bb39-11e8-97fc-26fd75783faf.png">

[2018-09-18 18:32] maxkfranz commented on #36
This is just a wrapper of Dagre as a Cytoscape layout.  If you have any algorithmic feedback, it should be to that repo: https://github.com/dagrejs/dagre

[2018-09-18 18:34] swarajd commented on #36
Fixed by enabling animation and setting the duration to 0. The problem isn't fixed, but for my purposes it is. Closing.

[2018-09-18 18:34] #36 closed

[2018-09-26 15:58] maxkfranz commented on #34
Merged and released as v2.2.2 patch

[2018-09-26 15:58] #34 closed

[2018-09-26 15:58] #21 closed

[2018-11-19 17:02] Jbonavita opened #37 "Layout on a collection of nodes is different than on entire graph"
I first create a graph with 100's of connected nodes. After all the nodes have been added I call
`cy.layout({name: "dagre"});`

Next, I'm creating 5 or so additional connected nodes I call layout on the nodes added but it doesn't lay them out as expected. Instead of being more like a tree all the nodes are in a straight line.

It looks like this:
![layout1](https://user-images.githubusercontent.co

[2018-11-21 14:02] Jbonavita commented on #37
The problem was caused by me not added the edges to the collection. Once I added them, the correct layout was performed.

[2018-11-21 14:02] #37 closed

[2018-12-04 09:13] FullyScaled opened #38 "complete Graph disapperars on certain zoom level"
Hello,
im using the cytoscape dagre layout. Unfortunately there occurs a problem on certain zoom levels: The complete graphical graph output disappears on those zooming levels. If I change the zoom (more or less) the graph is showing again.

Is this a problem that you know about and if yes is there a fix for that? If not I´ll try to provide a demo for that.
best regards

[2018-12-05 02:03] sakopqiu opened #39 "Cannot set property 'order' of undefined"
### Problem description
Hi there, I have come across the same issue as described in [https://github.com/dagrejs/dagre/issues/234#issuecomment-399488074](url).
Fortunately, I was able to sketch out a simple html page to reproduce the bug.
The data part below is quite big since I can not reproduce the bug with only a small amount of data.
Precisely speaking, I dont know which part of the data trigge

[2018-12-05 02:07] sakopqiu commented on #25
Is there any method to work around this error? I am also deeply confused by this problem. And this problem still exists even if I use development build...

[2018-12-05 17:11] maxkfranz commented on #38
This is not a known issue.  Please provide a reproducible test case, including:

- Browser version
- OS version
- A code sample that reproduces the issue.  Any of the example demos on [js.cytoscape.org](http://js.cytoscape.org) can be forked on JSBin to easily provide a code sample.

[2018-12-18 14:22] #38 closed

[2018-12-20 01:19] maxkfranz commented on #38
If it doesn’t happen in the latest 3.2 or 3.3, then it should already be
resolved. Thanks

On December 6, 2018 at 06:34:58, FullyScaled (notifications@github.com)
wrote:

[2019-01-22 11:40] utkarshagarwal01 opened #40 "Preserve old nodes' positions on layout re run, when a new set of nodes are added to the graph?"
I basically want to know if there is a functionality in dagre like `randomize: false` which is available in layouts like cose-bilkent where the old node positions are respected when the layout is re run after adding a new set of nodes(more specifically, after expanding a compound node using [expand-collapse](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse).

[2019-02-08 14:01] virmundi commented on #40
I've just been playing with this for a few minutes, but I found sorting the nodes to help. In my case each node has an id. The graph appears, on a small graph of about 10 nodes, stable.

[2019-02-08 15:56] maxkfranz commented on #39
That's a problem with dagre.  This extension just lets you use dagre with cytoscape.

You should use the dagre issue tracker and post your problem in the issue you linked to: https://github.com/dagrejs/dagre/issues/234#issuecomment-399488074

[2019-02-08 15:56] #39 closed

[2019-02-08 15:57] maxkfranz commented on #40
This is up to how dagre itself works.  If you want new dagre features, you should post issues on the dagre issue tracker.

https://github.com/dagrejs/dagre/issues

[2019-02-08 15:57] #40 closed

[2019-02-19 14:31] pmario26 opened #41 "Controlling nodes positions"
I'm currently working on a project that has been using the Cytoscape Dagre implementation for a long time. The lib is fantastic and always met the project needs until now but there is one new feature that i'm currently unable to implement.
I would like to know if in the current version of the lib is there any way i can control the position of nodes to keep them aligned.
For example:
![image](https

[2019-02-19 15:56] maxkfranz commented on #41
The dagre lib itself would have to be changed.  This is just a wrapper.

See https://github.com/dagrejs/dagre

[2019-02-19 15:56] #41 closed

[2019-02-26 21:55] maxkfranz commented on #5
Dagre can only inform where the edges should be routed for the node positions that Dagre specifies.  As soon as the nodes are moved, Dagre's assumptions are no longer true and the use of Dagre's edge points would give bad results.

For trees -- and probably some types of DAGs as well -- specifying the points from Dagre itself isn't really needed in `cytoscape>=3.5`.   The `curve-style:taxi` edge s

[2019-02-26 21:56] maxkfranz commented on #5
The example graph: ![screen shot 2019-02-19 at 5 12 38 pm](https://user-images.githubusercontent.com/989043/53051347-a8d12500-3469-11e9-8f8f-b4946a007a50.png)

[2019-03-06 16:14] Kyrio opened #42 "Bounding box error when initializing a graph"
With Cytoscape v3.4.2 and cytoscape-dagre v2.2.2, I'm getting the following error when initializing a fairly large, compound graph:

[code]

The graph is not rendered and the "ready" event is never emitted. This happens consistently in Firefox 65 but only rarely in Chrome 72.

Unfortunately I cannot attach the graph for reproduction as the data is under an NDA, but if you need specific information

[2019-03-06 17:37] maxkfranz commented on #42
Unfortunately, there's nothing that we can do until we have a reproducible test case including data.  You could consider anonymising your existing data by removing and renaming the appropriate fields.  The output topology and style should be all that matters.

[2019-03-11 11:48] Kyrio commented on #42
I've put together a StackBlitz to reproduce the issue and eventually managed to find what exactly triggers it, so anonymizing will not be necessary.

So first, while the stack trace seems to imply that it is Dagre-related, the issue actually appears with other layouts (e.g. breadth-first). Then, it looks like it is triggered by a node which has a parent node but also the style `display: 'none'`.

[2019-03-11 14:08] maxkfranz commented on #42
It doesn't make sense to include display:none elements in a layout:  They take up no space.

I could remove the exception, but you'll still get no result for display:none elements.

[2019-03-11 16:12] Kyrio commented on #42
In my application, 'hidden' is a class added or removed to some nodes at runtime, through a button. But in some cases, I need to recreate the graph and have them still hidden, so that I can show them again later with the same button (by removing the class).

This is why I sometimes have `display: none` nodes in the initial dataset. They're meant to be displayed later, and it is convenient not havi

[2019-03-22 19:26] maxkfranz commented on #42
I thought this was just an issue of specifying `display:none` element in a layout, but it turns out it's a more general issue.  See https://github.com/cytoscape/cytoscape.js/issues/2339

[2019-03-22 19:26] #42 closed

[2019-05-31 07:59] n313893254 opened #43 "Upgrade webpack to 4.32.2"
I import cytoscape-dagre in ember.js and cannot work after the build. The error is `Not possible to find intersection inside of the rectangle`.

After upgrade webpack to 4.32.2 version. cytoscape-dagre works well.

So I suggest to  Upgrade webpack to 4.32.2.

[2019-06-03 17:03] maxkfranz commented on #43
That looks like an issue with Dagre and/or your data, not the build process.

Please demonstrate that there is a precise issue with the build process and that upgrading webpack would solve it.

[2019-11-08 05:01] deepanshu11madan commented on #5
was anyone able to make the this work? I am facing the similar issue, why doesn't cytoscape.js-dagre follow the dagre layout for edges?

[2019-11-15 12:33] #43 closed

[2019-12-01 16:56] shinji7800 opened #48 "error"
hello I don't succeed to use dagre layout I have this error

![image](https://user-images.githubusercontent.com/9131657/69917061-8e998e00-1462-11ea-9e5d-45c631bf76ec.png)

no issue with others like cola

best regards

please forgive my approximate English I'm not ...

[2019-12-02 12:33] shinji7800 commented on #48
at the end of initialisation dagre from `var dagre = __webpack_require__(4); ` seems to not defined

while
[code]
are correctly defined

hope it helps

[2019-12-02 13:16] shinji7800 commented on #48
my bad, dependency was missing ! sorry

[2019-12-02 13:16] #48 closed

[2019-12-10 05:09] deepanshu11madan commented on #5
Is there any future plan to make edges follow dagre layout?

[2020-01-15 01:06] calebeaires opened #54 "Arrange itens side by side"
**Feature Request**

Instead of arrange stand alone itens one above another, do it side by side (left-right).

Current behavior
![Captura de Tela 2020-01-14 às 22 03 44](https://user-images.githubusercontent.com/794195/72395992-07eef680-371a-11ea-9930-17eb7b384094.png)

Desired

![Captura de Tela 2020-01-14 às 22 03 57](https://user-images.githubusercontent.com/794195/72396015-16d5a900-371a-11ea

[2020-01-21 15:26] maxkfranz commented on #54
This package is just a wrapper to the Dagre library to make the Dagre
algorithm work with Cytoscape.

If you have a feature request for the algorithm, you should make it in the
Dagre repo linked in the readme: https://github.com/dagrejs/dagre

On Tue, Jan 14, 2020 at 8:06 PM Calebe Aires <notifications@github.com>
wrote:

[2020-02-08 05:24] #5 closed

[2020-03-21 16:56] #54 closed

[2020-10-26 20:16] mben-romdhane opened #60 "Generate unminified distribution file during build file"
In the switch between version 2.2.2 and version 2.3.0, the distributed file became minified. It would be great if the release process generated both minified and unminified files, as unminified files are useful for debugging, and it is not possible to run the npm pipeline for release on some systems due to restrictions.

[2020-10-28 14:35] maxkfranz commented on #60
Amended in 2.3.1.  See 5be1653

[2020-10-28 14:35] #60 closed

[2020-10-28 14:36] maxkfranz commented on #60
See also #58

[2020-11-05 20:03] riverchen99 opened #61 "Layout bugged due to compound node order"
The layout produced by dagre on graphs with compound nodes breaks when the parent node follows children nodes in the list of elements.

Please take a look at some additional details here: https://github.com/plotly/dash-cytoscape/issues/112

@xhlulu produced a [gist](https://github.com/plotly/dash-cytoscape/issues/112#issuecomment-722034848) reproducing the issue with pure javascript.

Thanks!

[2020-11-05 23:44] TyOverby commented on #60
Thanks @maxkfranz!

[2020-11-09 14:55] maxkfranz commented on #61
This looks like an issue within Dagre itself.  So the best way to resolve this would be to file an issue with Dagre: https://github.com/dagrejs/dagre/issues

If you can identify the root issue in Dagre, they may be open to a pull request.  Alternatively, if you can identify a workaround within this wrapper extension, I could help to review that PR so that at least Cytoscape users aren't affected b

[2020-11-12 07:18] physikerwelt opened #62 "Requires windows since 2.3.1"
While upgrading from 2.2.1 to 2.3.1 I realized that this line
[code]
does no longer work in an headless node environment. My workaround was
[code]

[2020-11-12 15:38] maxkfranz commented on #62
@harryadel, it looks like your PR is responsible for this issue.  Could you investigate?

https://github.com/cytoscape/cytoscape.js-dagre/pull/58

[2020-11-17 21:21] harryadel commented on #62
@maxkfranz I'm a bit limited on time but I'll look into it this weekend if it's ok with you.

[2020-11-17 22:05] maxkfranz commented on #62
OK

[2020-11-22 02:15] harryadel commented on #62
@physikerwelt Could you please provide a sample of the headless environment you're testing with?

[2020-11-23 15:18] maxkfranz commented on #62
It looks like the webpack upgrades create a reference to `window` instead of `this`:

Before:

https://github.com/cytoscape/cytoscape.js-dagre/blob/eaddff2e401d0e1e8a9f85158d4068d70a48e88f/cytoscape-dagre.js#L10

After:

https://github.com/cytoscape/cytoscape.js-dagre/blob/c18078fca8bfa2b682cf2c6c994d63667e081d2c/cytoscape-dagre.js#L10

@harryadel, could you look into this webpack config issue?  (

[2020-11-23 15:23] maxkfranz commented on #62
It looks like this may have been addressed in #63 by @N8th8n8el re. another issue.

@harryadel & @physikerwelt, could you test and confirm that this resolves your issue?

[2020-11-30 17:14] maxkfranz commented on #62
@harryadel, @physikerwelt, have you had a chance to investigate whether #63 resolves your issue?

[2020-12-01 10:37] physikerwelt commented on #62
sorry, not yet.

[2020-12-07 17:31] #62 closed

[2020-12-16 17:31] #61 closed

[2020-12-23 23:01] jakespeare opened #65 "Dagre Not Registering as an Extension"
I'm not sure if it's all extensions or just Dagre, but "cytoscape.use(dagre)" seems to not be working. This is combined with the react-cytoscape library.
Below is a censored sample of the code
[code]
What's especially weird is that I had this same bug in another app, and while trying to fix it, it seemingly magically disappeared. It comes back sometimes in the other app, and I don't know how it ge

[2020-12-24 21:34] jakespeare commented on #65
Oops!

I think somehow there were two separate Cytoscape libraries in my app. I'm not sure how that happened 🤔 , as I thought I was being diligent with my libraries. I discovered this when I was debugging one side of cytoscape with console statements and there were no console statements where the error occurred, but there were console statements where the extension registration occurred. Even afte

[2020-12-24 21:34] #65 closed

[2021-02-05 19:30] boramalper commented on #54
Hi @maxkfranz,

[Dagre clearly supports that](https://github.com/dagrejs/dagre/wiki#configuring-the-layout) so the question is I believe perfectly well-addressed in finding how to pass parameters to Dagre using your wrapper.

For instance, [cytoscape.js-klay](https://github.com/cytoscape/cytoscape.js-klay) options object has a dedicated `klay` field to pass parameters to the underlying library. Wo

[2021-02-13 21:01] koo5 commented on #5
hello stale bot, did microsoft send you to break opensource? It's not hard to see how changing the meaning of "closed" is perfectly counterproductive, is it?

[2021-03-05 18:22] georgetye opened #66 "How do I run this on my website using a CDN?"

[2021-03-14 00:01] SatishChandraPalakoti commented on #5
I do not understand what the solution to overlapping paths is. Has this been addressed in any of the cytoscape versions ?

[2021-04-05 18:47] learnaspnet715 opened #69 "Cytoscape Dagre shows connected Children when there are multiple children."
I am using Cytoscape Dagre extension to show hierarchical graph from left to right. It has 14 children and one parent 1 and main parent. All children are connected to parent 1 but whenever I use dagre to draw a graph, it seems like children are connected between each other. They do not have any edges between them but Dagre still shows that.

Here is the stackblitz example: https://stackblitz.com/e

[2021-04-12 18:57] SatishChandraPalakoti opened #70 "Iteratee is not a function ? Please help me figure out the root cause."
Here is my react component that renders the graph on the DOM.

import PropTypes from "prop-types";
import React, { Component} from "react";
import cytoscape from "cytoscape";
import dagre from "cytoscape-dagre";
import CytoscapeComponent from "react-cytoscapejs";

const _ = {
    get: require("lodash/get"),
    isEqual: require("lodash/isEqual")
  };

              class EditNewGraph extends Compo

[2021-04-18 23:15] #66 closed

[2021-04-23 10:44] aradys-intel opened #71 "Performance issue"
Hello,
I'm trying to visualize big graphs with thousands of nodes.

I noticed that when using breadthfirst layout the graph is generated about 40x faster than with dagre layout. I was testing on graph with 1k nodes and 2k edges (5 sec vs. 3 min depending on the layout). Is that expected performance?

I am using Angular 11 and I test the simplest graph with no styling etc. like in the code snippet

[2021-04-26 15:25] maxkfranz commented on #71
If you have questions about the algorithm, you should forward those along to the algorithm's repo: https://github.com/dagrejs/dagre

This repo is a wrapper

[2021-04-26 15:39] aradys-intel commented on #71
Ok, I added issue to algorithm's repo: https://github.com/dagrejs/dagre/issues/315

[2021-05-19 17:44] #70 closed

[2021-05-19 17:44] #71 closed

[2021-08-24 19:23] hkerma opened #80 "Graph doesn't occupy all the available width"
Hi,
First, thank you for this adaptation of DAGRE in Cytoscape, it is great and very useful.

I'm using it to display a simple 5 nodes/7 edges DAG. The graph occupies all the available height, however it stays constraint in a very narrow width, preventing me from seeing the edges and edges' labels clearly. I tried to tweak with nodeSep, edgeSep and rankSep but I cannot achieve a convenient result.

[2021-08-31 15:57] maxkfranz commented on #80
Some suggestions:

- Take a look at the Dagre docs: https://github.com/dagrejs/dagre
- If you're unsure, treat the layout like a black block and try using it empirically.

[2021-09-03 20:58] hkerma commented on #80
Thanks, I'll have a look.

[2021-10-02 00:54] #80 closed

[2021-12-22 02:43] gabrywu commented on #61
So, what's the conclusion?

[2021-12-27 10:14] simandi434 opened #82 "How to find node level?"
How can we find node level or rank in the canvas or a group of nodes in each level.

![DagreIssue](https://user-images.githubusercontent.com/20299297/147461187-eb5ba08e-c7e9-4c23-a4fb-f34a6c9f477e.PNG)

In the above image
Level 1 - C1
Level 2 - R1, I1
Level 3 - C2

[2022-01-05 20:31] ethan-keller opened #83 "Add missing options in dagre layout"
Dear,

It would be great if you could add the missing dagre options such as e.g., 'align'. They are quite useful and I believe it would make `cytoscape.js-dagre` more "complete".

I guess you would just need to explicitely specify the options in the `layout.js` file.

These are the options that are given on `dagre`'s (deprecated) repo [wiki](https://github.com/dagrejs/dagre/wiki):

Object | Attrib

[2022-01-12 16:54] maxkfranz commented on #83
Which options in particular are you interested in?  It looks like these are (mostly?) already supported.

[2022-01-13 17:57] maxkfranz commented on #83
Great, so we've narrowed it down to `align` and `acyclicer`.  Since you have graphs where you'd like to use these options, you're in a great position to test out the addition of those options.

I think you're right that it should just be a matter of passing the options along, so you're welcome to put up a quick PR for your proposed additions

[2022-01-24 11:51] simandi434 commented on #82
@maxkfranz Is there any solution for the above requirement?

[2022-01-27 18:11] #83 closed

[2022-03-08 17:14] #82 closed

[2022-03-16 11:08] marc-vdm commented on #61
It seems [dagre](https://github.com/dagrejs/dagre) is deprecated, will this issue be taken up here? Unfortunately, I don't have the JS expertise to help out but I'd benefit from having this in [Dash Cytoscape](https://github.com/plotly/dash-cytoscape)!

[2022-07-20 20:35] nmauersberg commented on #65
Thanks a lot! That was my problem too. I was tracking it down for hours already. <3